<img src="assets\fondo.jpg" class="img-fluid" alt="Responsive image">
<div class="row">
    <div class="col">
        <div class="card text-white bg-primary mb-3" style="width: 100%;">
            <div class="card-header">Empieza Ahora</div>
            <div class="card-body">
                <h5 class="card-title">Primary card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>

        <button class="btn btn-outline-primary btn-block">
          Mostrar/Ocultar
        </button>
    </div>
    <div class="col">

    </div>
    <hr>
</div>