<div>
    <img src="assets\fondo.jpg" class="img-fluid" alt="Responsive image">

</div>

<div class="row">

    <div class="col">
        <div class="card text-white bg-primary mb-3" style="width: 100%;">
            <div class="card-header">Empieza Ahora</div>
            <div class="card-body">
                <h5 class="card-title">Conoce </h5>
                <p class="card-text">Cardio Gym cuenta con instalaciones con tecnología de punta, ingresá para conocer nuestro gimnasio.</p>
            </div>
        </div>

        <button class="btn btn-outline-primary btn-block">
          Mostrar
        </button>
    </div>
    <div class="col">
        <div class="card text-white bg-info mb-3" style="width: 100%;">
            <div class="card-header">Dirección</div>
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">Murillo, La Paz, Zona, Murillo 9, La Paz </p>
            </div>
        </div>

    </div>
    <hr>
</div>