<div class="card bg-dark text-white principal">
    <img src="assets\fondo.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text">Last updated 3 mins ago</p>
    </div>
</div>




<div class="row" class="fadeIn">

    <div class="col">
        <div class="card text-white bg-primary mb-3" style="width: 100%;">
            <div class="card-header">Empieza Ahora</div>
            <div class="card-body">
                <h5 class="card-title">Conoce </h5>
                <p class="card-text">Cardio Gym cuenta con instalaciones con tecnología de punta, ingresá para conocer nuestro gimnasio.</p>
            </div>
        </div>

        <button class="btn btn-outline-primary btn-block">
          Mostrar
        </button>
    </div>
    <div class="col">
        <div class="card text-white bg-info mb-3" style="width: 100%;">
            <div class="card-header">Dirección</div>
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">Murillo, La Paz, Zona, Murillo 9, La Paz </p>
            </div>
        </div>

    </div>
    <hr>
</div>

<div class="container-fluid">
    holasdkfoslldkflsdfsadf
</div>