<div class="animated fadeIn">
    <img src="assets\topmegatlon1.jpg" class="img-fluid" alt="Responsive image">
</div>
<div class="container main-container">
    <h1 class="h1Style">Sobre Nosotros</h1>


    <div class="card-group shadow p-3 mb-5 bg-white rounded">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Ubicación</h5>
                <p class="card-text">Ubicación: Av. Camacho esq. C. Bueno, Centro Comercial Camacho <br>Telf.: (591) (2) 2912668 </p>

            </div>
            <div class="card-footer text-muted">

            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Horarios</h5>
                <p class="card-text">Lunes a viernes 6:30 a 22:30 <br> Sábado de 08:00 a 15:00 <br> Domingos y feriados de 10:00 a 13:00</p>

            </div>
            <div class="card-footer text-muted">

            </div>
        </div>
    </div>
    <br>
</div>