<p>
    SOBRE NOSOTROS
</p>
<div class="container main-container">
    <div class="animated fadeIn">
        <img src="assets\imagen4.jpg" class="img-fluid" alt="Responsive image">

    </div>
    <div class="card text-center">
        <div class="card-header bg-info mb-3">
            Featured
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">
            2 days ago
        </div>
    </div>
    <br>
    <div class="alert alert-dark" role="alert">
        A simple light alert—check it out!
    </div>
</div>