<div class="animated fadeIn">
    <img src="assets\topmegatlon1.jpg" class="img-fluid" alt="Responsive image">
</div>
<div class="container main-container">
    <h1 class="h1Style">Sobre Nosotros</h1>

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Ubicacion</h5>
                    <p class="card-text">Ubicación: Av. Camacho esq. C. Bueno, Centro Comercial Camacho <br> Telf.: (591) (2) 2912668.</p>
                    <div class="card-footer">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Horarios</h5>
                    <p class="card-text">Lunes a viernes 6:30 a 22:30
                        <br> Sábado de 08:00 a q 15:00
                        <br> Domingos y feriados de 10:00 a 13:00</p>
                    <div class="card-footer text-muted">
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div>

    </div>
    <br>
    <br>
</div>