<div class="container main-container">

    <p class="animated fadeIn fast h1Style">
        Nuestros Cursos
    </p>

    <div class="animated fadeIn shadow p-3 mb-5 bg-white rounded">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Hora Inicio</th>
                    <th scope="col">Hora Fin</th>
                    <th scope="col">Dias</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Zumba</td>
                    <td>18:00</td>
                    <td>19:00</td>
                    <td>Lunes a Viernes</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Xtreme Cardio</td>
                    <td>19:00</td>
                    <td>20:00</td>
                    <td>Lunes - Miercoles - Viernes</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Step</td>
                    <td>17:00</td>
                    <td>18:00</td>
                    <td>Martes - Jueves</td>
                </tr>
            </tbody>
        </table>


    </div>
    <br>
    <br>
    <br>
</div>